@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Coffee_Shop.Models.Registration.RegistrationViewModel

    <ul>
        <li class="list-group-item">
            <p>User Name: @Model.Password</p>
            <p>Email: @Model.Email</p>
            <p>Password: @Model.Password</p>
        </li>
    </ul>